.form-caption
  .fareast-row Обратная связь

.fareast-row.fareast-row-bottom
  .form-summary
    %p Ваше сообщение было отправлено
    %br
    %p= link_to "Отправить ещё одно сообщение", new_feedback_path
