.footer
  .fareast-row
    .pull-left
      %p.footer-copyright= t(".footer_copyright")
      %p.footer-annotation= t(".footer_annotation").html_safe()
    .pull-left
      .social-buttons
        %script{charset: "utf-8", src: "//yandex.st/share/share.js", type: "text/javascript"}
        .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki,lj", "data-yasharetype" => "none"}
